.App {
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: center;
  max-height: 100px;
}
#navbarSupportedContent {
  flex-grow: 0;
}

.variables {
  display: flex;
  justify-content: space-around;
}

.clima-hoy,
.hora-hora,
.dia-dia {
  border: 1px black solid;
}

.hora-hora {
  width: 100%;
  max-width: 90%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  .hora-temp {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    margin: 2px 5px;
  }
}

#resultados {
  background-color: white;
  display: none;
  z-index: 3;
  position: absolute;
  top: 97%;

  .city-item {
    font-size: 0.78rem;
    color: #3386ff;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.clima-hoy {
  width: 100vw;
  max-width: 70%;
  margin: auto;
  .clima-descripcion {
    justify-content: center;
  }
  .variables-clima-hoy {
    max-width: fit-content;
    h5 {
      padding-top: 8%;
    }
    p {
      margin: 0;
    }
  }
}
