.App {
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: center;
  max-height: 100px;
}
#navbarSupportedContent {
  flex-grow: 0;
}

.variables {
  display: flex;
  justify-content: space-around;
}

.hora-hora {
  width: 100%;
  max-width: 90%;
  margin: 4% auto;
  justify-content: space-between;
  flex-wrap: wrap;
  .hora-temp {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    margin: 2px 5px;
  }
}

#resultados {
  background-color: white;
  display: none;
  z-index: 3;
  position: absolute;
  top: 97%;

  .city-item {
    font-size: 0.78rem;
    color: #3386ff;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.clima-hoy {
  width: 100vw;
  max-width: 70%;
  margin: auto;
  margin-top: 2%;
  .clima-descripcion {
    justify-content: center;
    .icon {
      width: 120px;
      height: 120px;
    }
  }
  .variables-clima-hoy {
    max-width: fit-content;
    padding-top: 3%;
    h6 {
      font-size: 1.3rem;
      margin: 0;
      font-weight: bold;
    }
    p {
      margin: 0;
    }
  }
}

.dia-dia {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  justify-content: space-between;
  .clima-dia {
    margin: 8px 5px;
    width: 14rem;

    img {
      width: 100px;
      height: 100px;
      margin: auto;
    }
  }
}
