$badge-color: #0367a6;
$font-color: #048abf;

.App {
  text-align: center;
  /*  @media screen and (min-width: 320px) and (max-width: 500px) {
    width: 100%;
    max-width: 95%;
    margin: auto;
  } */
}
.font-color {
  color: $font-color;
}
.badge-color {
  background-color: $badge-color;
  color: white;
}

.font-color-b {
  color: $badge-color;
}

#navbar {
  display: flex;
  justify-content: center;
  padding: 1.5%;
  a {
    font-weight: bold;
    letter-spacing: 2px;
  }
  @media screen and (min-width: 320px) and (max-width: 500px) {
    padding-bottom: 5%;
    flex-direction: column;
    align-items: center;
    padding-left: 36px;
    a {
      margin-top: 5%;
      text-align: center;
    }
    #navbarSuportedContent {
      margin-right: 25px;
    }
  }
}
#navbarSupportedContent {
  flex-grow: 0;
}

.variables {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  .var {
    font-size: 0.9rem;
    font-weight: 600;
  }
  @media screen and (min-width: 320px) and (max-width: 500px) {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 3%;
    justify-content: center;
    .var {
      margin: 10px;
    }
  }
}

.hora-hora {
  width: 100%;
  max-width: 90%;
  margin: 4% auto;
  justify-content: space-between;
  flex-wrap: wrap;
  .hora-temp {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    margin: 2px 5px;
  }
  @media screen and (min-width: 320px) and (max-width: 500px) {
    width: 100%;
    max-width: 90%;
    margin: 12% auto;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 94%;
  }
}

#resultados {
  background-color: white;
  display: none;
  z-index: 3;
  position: absolute;
  top: 97%;

  .city-item {
    font-size: 0.78rem;
    color: #3386ff;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.clima-hoy {
  width: 100vw;
  max-width: 70%;
  margin: auto;
  margin-top: 2%;
  .clima-descripcion {
    justify-content: center;
    .icon {
      width: 120px;
      height: 120px;
    }
  }
  .variables-clima-hoy {
    max-width: fit-content;
    padding-top: 3%;
    h6 {
      font-size: 1.3rem;
      margin: 0;
      font-weight: bold;
    }
    p {
      margin: 0;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 500px) {
    width: 100%;
    max-width: 90%;
    margin: 6% auto;
    .variables-clima-hoy {
      padding-top: 8%;
      padding-right: 12%;
      h6 {
        font-size: 1.2rem;
        margin: 0;
        font-weight: bold;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-top: 4%;
    .variables-clima-hoy {
      padding-right: 14%;
      padding-top: 5%;
      h6 {
        font-size: 1.2rem;
        margin: 0;
        font-weight: bold;
      }
    }
  }
}

.dia-dia {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  justify-content: space-between;
  .clima-dia {
    margin: 8px 5px;
    width: 14rem;

    img {
      width: 100px;
      height: 100px;
      margin: auto;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 500px) {
    justify-content: center;
    margin-top: 8%;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 95%;
    justify-content: center;
  }
}

#lupa-buscar {
  position: absolute;
  height: 22px;
  left: 105%;
  top: 18%;
}
